h1 {
    font-size: 56px;
  }
  
  h2 {
    font-size: 24px;
  }
  
  h3 {
    font-size: 18px;
  }
  
  p {
    font-size: 14px;
  }
  
  img {
    display: block;
  }
  
  .pinkTitle {
    color: #fb56bf;
    text-align: center;
    margin-bottom: 48px;
  }
  
  .blueTitle {
    color: #1736dc;
    text-align: center;
    margin-bottom: 48px;
  }
  
  .redTitle {
    color: #8a1737;
    margin: 10px 0;
  }